.content {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__button {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 28px 95px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(2px) saturate(180%);
    border: 2px solid rgba(255, 255, 255, 0.25);

    clip-path: polygon(
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 20px
    );
    cursor: pointer;
    transition: 0.3s ease-out;
    &:hover {
      background: rgba(255, 255, 255, 0.24);
    }
  }

  &__title {
    font-size: 84px;
    color: #fff;
    font-weight: 500;
    width: 950px;
    span {
      display: block;
    }
  }

  &__scroll {
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 2px solid #464d62;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      animation: arrowScroll 1.8s infinite ease-in-out;
      @keyframes arrowScroll {
        0% {
          transform: translateY(0);
          opacity: 0.6;
        }
        50% {
          transform: translateY(8px);
          opacity: 1;
        }
        100% {
          transform: translateY(0);
          opacity: 0.6;
        }
      }
    }
  }
}

@media (max-width:1440px) {
  .content {
    &__title {
      font-size: 72px;
    }
  }
}

@media (max-width: 1000px) {
  .content {
    bottom: 70px;
    &__button {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 44px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 868px) {
  .content {
    &__button {
      padding: 20px 40px;
    }
  }
}

@media (max-width: 600px) {
  .content {
    bottom: 100px;
    &__title {
      font-size: 32px;
    }
  }
}

@media (max-width: 489px) {
  .content {
    bottom: 35px;
    &__title {
      font-size: 28px;
    }
  }
}